<!-- why section -->

<!-- <section class="why_section layout_padding" id="chooseUs">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Expert Management
            </h5>
            <p>
              Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
              Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Secure Investment
            </h5>
            <p>
              Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
              Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Instant Trading
            </h5>
            <p>
              Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
              Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Happy Customers
            </h5>
            <p>
              Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
              Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
            </p>
          </div>
        </div>
      </div>
     
    </div>
  </section> -->

<!-- end why section -->

<!-- client section -->

<section class="client_section layout_padding" id="chooseUs">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Why <span> Choose Us ?</span></h2>
      <hr />
    </div>
    <div class="row">
      <div
        class="col-md-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              Our team of experienced and highly qualified teachers are
              passionate about English and dedicated to student success. With
              advanced degrees and years of teaching experience, they provide
              personalized attention to help you achieve your language goals
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/expert_faculty.jpg" alt="" />
            </div>
            <div class="client_name">
              <h5>Expert Faculty</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              We offer a well-rounded curriculum that covers all aspects of the
              English language, including grammar, vocabulary, speaking,
              listening, reading, and writing. Our courses are designed to cater
              to different proficiency levels, from beginner to advanced.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Comprehensive_Curriculum.jpeg" alt="" />
            </div>
            <div class="client_name">
              <h5>Comprehensive Curriculum</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              To ensure personalized attention and a supportive learning
              environment, we keep our class sizes small. This allows for more
              interaction, immediate feedback, and a stronger sense of community
              among students.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Small_Class_Sizes.png" alt="" />
            </div>
            <div class="client_name">
              <h5>Small Class Sizes</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              We understand that everyone has different schedules and learning
              preferences. That’s why we offer flexible learning options,
              including online classes, evening and weekend sessions, and
              intensive courses, so you can learn at your own pace and
              convenience.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Flexible_Learning_Options.jpg" alt="" />
            </div>
            <div class="client_name">
              <h5>Flexible Learning Options</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              Our institute has a strong reputation for excellence in English
              language education. Many of our students have successfully passed
              international exams such as IELTS, TOEFL, and Cambridge English
              exams, and have gone on to achieve their academic and professional
              goals.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Proven_Track_Record.png" alt="" />
            </div>
            <div class="client_name">
              <h5>Proven Track Record</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              We believe that a positive and encouraging environment is key to
              successful learning. Our friendly staff and supportive community
              ensure that you feel welcome and motivated throughout your
              learning journey. and have gone on to achieve their academic and
              professional goals.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Supportive_Learning_Environment.jpeg" alt="" />
            </div>
            <div class="client_name">
              <h5>Supportive Learning Environment</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              Whether you’re learning English for career advancement or academic
              purposes, we provide tailored support to help you succeed. Our
              career workshops, resume building sessions, and university
              application assistance are designed to help you reach your goals.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Cultural Immersion Activities.avif" alt="" />
            </div>
            <div class="client_name">
              <h5>Cultural Immersion Activities</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              We offer high-quality education at competitive prices, with
              various payment plans and scholarships available to make learning
              English accessible to everyone.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Affordable_Tuition_Fees.avif" alt="" style="border-radius: 100%;" />
            </div>
            <div class="client_name">
              <h5>Affordable Tuition Fees</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              At Scull School of English, we use the latest teaching
              methodologies and technologies to make learning English engaging
              and effective. Our interactive classes, multimedia resources, and
              practical exercises ensure that you gain real-world language
              skills.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Innovative_Teaching_Methods.jpg" alt="" />
            </div>
            <div class="client_name">
              <h5>Innovative Teaching Methods</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              Whether you’re learning English for career advancement or academic
              purposes, we provide tailored support to help you succeed. Our
              career workshops, resume building sessions, and university
              application assistance are designed to help you reach your goals.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Career_and_Academic_Support.jpg" alt="" />
            </div>
            <div class="client_name">
              <h5>Career and Academic Support</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mx-auto"
        data-aos="zoom-out-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <div class="client_container">
          <div class="detail-box">
            <p>
              Take the first step towards mastering English and achieving your
              dreams. Join Scull School Of English and experience the difference
              of a dedicated and supportive learning community.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/Join_Us_Today.png" alt="" />
            </div>
            <div class="client_name">
              <h5>Join Us Today!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end client section -->
