<!-- about section -->

<section class="about_section layout_padding" id="about">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>About <span>Us</span></h2>
      <p>
        Our experienced faculty and diverse curriculum empower students to 
        reach their full potential and excel in their chosen fields.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/About_imagebg.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>Our Vision</h3>
          <p>
            At Scull Group of Institute, we are dedicated to fostering a vibrant learning 
            environment that empowers individuals to achieve their fullest potential. Our 
            mission is to provide high-quality education and innovative training programs 
            that equip our students with the skills needed to thrive in a rapidly changing world.
          </p>
          <p>
            Founded in 2023, Scull Group of Institute combines academic excellence with real-world 
            application, offering a diverse range of courses designed to meet the evolving needs of our 
            community. Our experienced faculty and state-of-the-art facilities ensure that every student 
            receives personalized attention and support on their educational journey.
          </p>
          <p>
            We believe that education is the foundation for personal and professional growth. Through our 
            commitment to excellence, collaboration, and inclusivity, we strive to create a dynamic and 
            engaging atmosphere that inspires lifelong learning and prepares our students to make meaningful contributions to society.
          </p>
         
          <a href=""  (click)="openWhatsapp()"> Contact Us </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
