<!-- about section -->

<section class="about_section layout_padding" id="about">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>About <span>Us</span></h2>
      <p>
        Magni quod blanditiis non minus sed aut voluptatum illum quisquam
        aspernatur ullam vel beatae rerum ipsum voluptatibus
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/About_imagebg.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>Lorem ipsum</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            laboriosam fuga accusamus modi repudiandae dolorum natus sequi
            suscipit nemo, dignissimos assumenda doloremque quod placeat soluta
            iste corrupti quidem dolor delectus earum ipsa, esse ex voluptate ut
            pariatur! Earum, minus eos.
            
            
          </p>
          <p>
            Lecessitatibus corporis possimus a optio ea illo deleniti minima!
            Laboriosam doloremque quo soluta neque, quod maxime architecto
            recusandae voluptate ipsa nobis, aliquid nulla aliquam ut ratione
            eveniet animi voluptates. Doloremque.
          </p>
         
          <a href=""  (click)="openWhatsapp()"> Contact Us </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
